{% extends 'base.html' %}
{% load static %}

{% block title %}Password Reset Complete - EventSphere{% endblock %}

{% block content %}
<div class="container py-4">
    <div class="row">
        <div class="col-md-6 mx-auto">
            <div class="card">
                <div class="card-header bg-success text-white">
                    <h4><i class="fas fa-check-circle"></i> Password Reset Complete</h4>
                </div>
                <div class="card-body text-center">
                    <i class="fas fa-lock fa-4x text-success mb-3"></i>
                    <h5>Your password has been set!</h5>
                    <p>You may now log in with your new password.</p>
                    
                    <div class="mt-4">
                        <a href="{% url 'accounts:login' %}" class="btn btn-primary">Login Now</a>
                        <a href="{% url 'events:home' %}" class="btn btn-outline-secondary">Home</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
